body {
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}



/* .row {
    margin-bottom: 30px;
} */

.row img {
    max-width: 500px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
}

.row > div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.text-justify {
    margin-left: 20px;
    flex: 1;
}

.text-justify p {
    font-size: 14px;
    line-height: 1.4;
    color: #333;
}

/* .text-justify p:first-child {
    font-weight: bold;
    color: #007bff;
} */

.styled-button {
    display: inline-flex;
    align-items: center;
    background-color: #555;
    color: white;
    padding: 5px ;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
    font-size: 1rem;
}

.styled-button:hover {
    background-color: #0b1da5;
    text-decoration: none;
    color: white;
}

.styled-button i {
    margin-left: 8px;
}

.pagination {
    justify-content: center;
    margin-top: 30px;
  
}