* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;

}


.value-box {
  /* border: 1px solid #e0e0e0; */
  border-radius: 12px;
  /* padding: 20px; */
  text-align: center;
  padding-top: 20px;
  margin-bottom: 20px;
  height: 298px; /* Hauteur fixe pour uniformiser la taille */
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* transition: transform 0.3s, box-shadow 0.3s;
  background: linear-gradient(135deg, #ffffff, #f1f1f1);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); */
}
.value-number {
  font-size: 38px;
  color: #0b1da5;
  margin-bottom: 5px;
  font-weight: bold;
}
h4 {
  font-weight: 700;
  color: #333;
  margin-bottom: 5px;
}
p {
  color: #555;
}
.contact_container {
  max-width: 1900px;
  margin: 0 auto;
  padding: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #0b1da5;

}
